*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.yardoc
.yardoc/
/spec/reports/
Notepad++/
__MACOSX
binstub/
out/
pkg/
project/
spec/status_persistence.txt
target/
tmp/
~*
