ruby:
  require 'slugify'

  def self.padding
    'padding: 0 5px 3px 5px'
  end

  def self.boxed(contents)
    "<div style='border: thin solid grey; #{padding};'>#{contents}</div>"
  end

h1 = heading
p = message

ul
  li: a href="mailto:#{email}" #{name}
  li style="margin-top: 3px; #{padding}; background-color: #{background_color}; color: #{color};"
    = 'Green and white slugs ... yuck!'.slugify

==boxed 'Help, I am stuck inside this computer!'
